.main {
  max-width: 1080px;
  margin: 0 auto;
}

.card-list {
  display: flex;
  padding: 30rem 40rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: black;
}
