.card {
    width: 300rem;
    height: 320rem;
    border: 1rem solid #B3B3B3;
    margin: 10rem;
    padding: .5rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10rem;
}

.card:hover {
    transition: all 0.2s ease-out;
    border: 1px solid black;
}

.project-image-container,
.project-image {
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
}

.project-image {
    height: 180rem;
    width: 300rem;
    z-index: -1;
    display: block;
}

.project-image-container:hover {
    transition: all 0.2s ease-out;
    box-shadow: 4rem 4rem 8rem rgba(20, 20, 20, 0.5);
    background: white;
}

.details-section {
    display: flex;
    flex-direction: row;
    padding: 5rem 10rem 5rem;
    justify-content: space-between;
}

.description {
    border-bottom: 1rem solid #B3B3B3;
    flex-grow: 1;
    align-items: center;
}

.description__main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 0 5rem;
}

.description h4 {
    font-size: 20rem;
    margin: 5rem 0 0; 
}

.description p {
    margin: 5rem 0 10rem;
    flex-grow: 1;
}

.arrow {
    width: 20rem;
    padding: 5rem 0;
    text-align: center;
}

.source-code {
    flex-grow: 1;
    align-items: center;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
}

.source-code__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.source-code:hover {
    background-color: white;
    transition: all 0.2s ease-out;
    box-shadow: 4rem 4rem 8rem rgba(20, 20, 20, 0.5);
}

.source-code__logo-container {
    padding: 0 10rem;
    margin-right: 5rem;
}

.card-logo {
    height: 35rem;
}

.highlights {
    list-style-type: none;
    padding: 5rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
}

.highlights li {
    min-width: 15%;
    padding: 0 5rem 0rem 10rem;
    font-size: 15rem;
    text-align: left;
}