header {
    background: #FCFCFC;
    border-bottom: 1rem solid #3BA6FD;
    padding: 20rem;
}

.page-header {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
}

.page-header__headings {
    color: #3BA6FD;
}

.page-header__headings h1 {
    font-size: 50rem;
    margin: 0 0 10rem;
}

.page-header__headings h3 {
    font-size: 30rem;
    margin: 0 0 10rem;
}

.page-header__logos {
    display: flex;
    flex-direction: row;
    /* width: 200rem; */
    justify-content: space-evenly;
    align-items: flex-end;
}

.logo, 
.email {
    height: 35rem;
    padding: 0 20rem;
}

.email {
    display: flex;
    padding-bottom: 3.5rem;
    cursor: pointer;
}

#linkedin-logo {
    height: 33rem;
    padding-bottom: 1rem;
}