header {
    background: #FCFCFC;
    border-bottom: 1rem solid #3BA6FD;
    padding: 20rem;
}

.page-header {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
}

.page-header__headings {
    color: #3BA6FD;
}

.page-header__headings h1 {
    font-size: 50rem;
    margin: 0 0 10rem;
}

.page-header__headings h3 {
    font-size: 30rem;
    margin: 0 0 10rem;
}

.page-header__logos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 200rem;
    justify-content: space-evenly;
}

.logo,
.email {
    height: 25rem;
}

.email {
    padding: 0;
    border: none;
    background: inherit;
    cursor: pointer;
    text-align: left;
    font-size: 18rem;
}

#linkedin-logo {
    /* width: 150rem */
}

#github-logo {
    /* width:  */
}