.page-header {
    width: 100%;
    background: #FCFCFC;
    border-bottom: 1px solid #3BA6FD;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-header h1 {
    color: #3BA6FD;
    font-size: 3em;
    margin: 0 0 .2em;
}

.logos {
    display: flex;
    margin: 0 auto;
    width: 10em;
    justify-content: space-evenly;
}

.logo {
    width: 2em;
    height: 2em;
}

#linkedin-logo {
    width: 38px;
}